@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.face {
  position: relative;
}
.color {
  background-image: url("./img/color_atlas.gif");
  height: 100%;
  width: 100%;
  background-size: 1000% 1000%;
  position: absolute;
}
.eyes {
  background-image: url("./img/eyes_atlas.gif");
  height: 100%;
  width: 100%;
  background-size: 1000% 1000%;
  position: absolute;
}
.mouth {
  background-image: url("./img/mouth_atlas.gif");
  height: 100%;
  width: 100%;
  background-size: 1000% 1000%;
  position: absolute;
}
.arrow1 {
  background-image: url("./img/arrow.gif");
  background-position: 0 0;
  width: 5vh;
  height: 5vh;
  background-size: 200%;
  background-repeat: no-repeat;
}
.arrow2 {
  background-image: url("./img/arrow.gif");
  background-position: 0 100%;
  width: 5vh;
  height: 5vh;
  background-size: 200%;
  background-repeat: no-repeat;
}
.UserCardMainDiv {
  width: 40rem;
}
@media only screen and (max-width: 1350px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .child1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
  }

  .child2 {
    grid-column: 1 / -1; /* Spans across all columns */
    grid-row: 1 / 2;
    width: 100vw;
    height: auto;
  }

  .child3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-top: 0px;
    width: 100%;
    height: auto;
  }
  .UserCard {
    width: 100%;
  }
  .ChatBox {
    width: 100%;
  }
  .ChatBoxDiv {
    height: 25vh;
  }
  .cont {
    margin: 0px;
    width: 100%;
    padding: 0px;
  }
  .tools {
    width: 36px;
  }
  .Tool {
    padding-top: 5px;
    gap: 4px;
    height: 5%;
  }
  canvas {
    width: 100%;
    height: 50vh;
  }
}
